.recipe {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  border-radius: 30px;
  background-color: #ebf5e6;
}

.recipe__image {
  width: 150px;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.border {
  border: 1px solid black;
}
